/* 4 ways to apply styles:
    1) Default
    2) If in tag it has the highest precedence. If in Head section using style tag, will apply to whole page. So use external style sheet.*/

/*SHORTCUTS - click on static folder and CTRL+N then save it */

body{
    font-family: Lato, Candara, Arial;
}

.subbody {
    padding: 2%;
}

a {
    font-family: "Noticia Text";
    font-size: 17px;
    text-decoration: none;
    color: white;
    padding: 10px;
}

a:hover {
    color: black;
    background-color: white;
    text-decoration: none;
}

nav {
    /*text-align: center;*/
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
}

.jumbotron {
    margin: 0 !important;
    background: url("bkg_img.png") center top 15%;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.jumbotron h1 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Noticia Text";
}

footer {
    padding: 2%;
}