/* 4 ways to apply styles:
    1) Default
    2) If in tag it has the highest precedence. If in Head section using style tag, will apply to whole page. So use external style sheet.*/

/*SHORTCUTS - click on static folder and CTRL+N then save it */

body{ 
    padding-bottom: 80px;
    font-family: Lato, Candara, Helvetica; 
}

.subbody { 
    padding: 2%; 
}

a {
    font-family: "Noticia Text";
    font-size: 17px;
    text-decoration: none;
    color: white;
    padding: 5px 10px 5px 10px;
}


nav a:hover {
    color: black;
    background-color: white;
    text-decoration: none;
    border-radius: 2px;
}

nav a.active{
    color: black;
    background-color: white;
    border-radius: 2px;
}

nav{
    padding: 0;
    background-color: #white;
    color: black;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1; /*Keep on top at all times*/
} 

.jumbotron {
    margin: 0;
    background: url("bkg_img.png") center top 15%;
    width: 100%;
    height: 30vh;
    background-size: cover;
    position: relative;
}

/* "Alissa Chan" text */
.jumbotron h1 {
    text-align: center;
    padding-top: 30px;
    color: #FFFFFF;
    font-family: "Noticia Text";
    min-width: 10vw;
}

footer {
    padding: 2%;
    background-color: black;
    opacity: .6;
    color: white;
}

footer a:hover{
    color: #CCFFFF;
}

img {
    /*padding: 1%;*/
}

/*Back to top button*/
.glyphicon glyphicon-circle-arrow-up {
    float: right;
    position: fixed;
    
}

.navbar navbar-fixed-bottom {  

}

/* MOBILE-FIRST MEDIA QUERIES */
/* Breakpoints obtained from https://responsivedesign.is/develop/browser-feature-support/media-queries-for-common-device-breakpoints */

/* Desktops and laptops */
@media screen and (min-width:1000px) {
    
    .jumbotron img{
        max-height: 35vh;
    }

    body {
        background: beige;
    }

    .carousel slide {
        max-width: 100%;
        position: center;
    }
}

/* Tablets/Small laptops */
@media only screen and (min-device-width: 768px) and (max-device-width: 1000px){
    body { 
        background: #D2F3FF; /*light blue*/
    }
    nav {
        background: cyan;
    }
}
/* Smartphones */
@media only screen and (max-device-width: 768px) {
    body{
        background: yellow;
    }
}