{% extends "templates/base.html" %}

{% block title%} Blog {% endblock %}
{% block nav_blog %}BLOG{%endblock%}

{% block content%}
    <h2>Blog</h2>
    <p>Here is one blog post I wrote on my wordpress link (see footer). Obviously this'll be hellishly ugly right now, bu tI encourage you to click the link in the footer if you want to see a beautiful WordPress version. </p>
    <br>If you haven’t heard of Tab for a Cause, I encourage you to go download it right now. Tab for a Cause (TFAC) is “a [free] extension that replaces your new tab page with a beautiful page that raises money for charity as you surf the web.” It’s similar to Google’s enormously successful but short-lived Chrome for a Cause way back in 2010, but TFAC is the permanent version, and is made by an independent team of developers. The extension is amazing and is the only one to offer this opportunity of donating to charities by web browsing, but as always there’s still a couple features that could be added or improved.

    First, a more in-depth introduction to what Tab for a Cause is:

    Tab for a Cause is paid by advertisers to show their ads on the new tab page. At least half of the profits are given to the partner charities. The TFAC “currency” is hearts; each tab you open counts as 1 heart, or you can refer a friend for 350 hearts. You then donate your hearts to a charity of your choice, as seen in the third screenshot below, and each tab contributes “between 1/10 and 1/3 of a cent.”

    What I love about TFAC is that they are transparent with how their extension works and post exactly how they spend the money.
    
    Some improvements I’d like to see in TFAC include:
<ul>
    <li>Donating tabs automatically. Currently, tabs must be donated manually - and as easy as it is to do so, automatic tab donations would still make a big difference. It would be ideal if we could set our tab donation preferences based on the percentage of tabs we want to donate to each organization. This could also eliminate the small learning curve in realizing that you have to manually donate the tabs, and it would eliminate the use of users' un-donated hearts. There's no real reason to "save up" on hearts.</li>
    <li>Add a TFAC extension icon next to Chrome’s other extensions. It’d be nice if you could click on this currently nonexistent extension icon to see how many hearts you haven’t donated yet, and maybe it could be a great way to donate immediately without going to the new tab page.</li>
    <li>Automatically count tabs you open without using the new tab page. This is somewhat unrealistic since TFAC money comes from how many views an ad gets on the new tab page. I don’t really see a viable workaround to this, but perhaps they could add the advertisements in the pop-up box when you click the TFAC icon (refer to bullet point 2 above).</li>
</ul>
<br>Overall, Tab for a Cause isn’t perfect in terms of design, but it still works brilliantly and so far dominates the Chrome Webstore as the only extension that lets you make good use of your web browsing without going out of the way to donate. It’s so simple and useful, and I keep wondering why this isn’t as popular as it should be. So if you’re feeling charitable, and you want to save the world with no more effort than a few clicks, start using Tab for a Cause!

<h2>Blog</h2>
    <p>Here is one blog post I wrote on my wordpress link (see footer). Obviously this'll be hellishly ugly right now, bu tI encourage you to click the link in the footer if you want to see a beautiful WordPress version. </p>
    <br>If you haven’t heard of Tab for a Cause, I encourage you to go download it right now. Tab for a Cause (TFAC) is “a [free] extension that replaces your new tab page with a beautiful page that raises money for charity as you surf the web.” It’s similar to Google’s enormously successful but short-lived Chrome for a Cause way back in 2010, but TFAC is the permanent version, and is made by an independent team of developers. The extension is amazing and is the only one to offer this opportunity of donating to charities by web browsing, but as always there’s still a couple features that could be added or improved.

    First, a more in-depth introduction to what Tab for a Cause is:

    Tab for a Cause is paid by advertisers to show their ads on the new tab page. At least half of the profits are given to the partner charities. The TFAC “currency” is hearts; each tab you open counts as 1 heart, or you can refer a friend for 350 hearts. You then donate your hearts to a charity of your choice, as seen in the third screenshot below, and each tab contributes “between 1/10 and 1/3 of a cent.”

    What I love about TFAC is that they are transparent with how their extension works and post exactly how they spend the money.
    
    Some improvements I’d like to see in TFAC include:
<ul>
    <li>Donating tabs automatically. Currently, tabs must be donated manually - and as easy as it is to do so, automatic tab donations would still make a big difference. It would be ideal if we could set our tab donation preferences based on the percentage of tabs we want to donate to each organization. This could also eliminate the small learning curve in realizing that you have to manually donate the tabs, and it would eliminate the use of users' un-donated hearts. There's no real reason to "save up" on hearts.</li>
    <li>Add a TFAC extension icon next to Chrome’s other extensions. It’d be nice if you could click on this currently nonexistent extension icon to see how many hearts you haven’t donated yet, and maybe it could be a great way to donate immediately without going to the new tab page.</li>
    <li>Automatically count tabs you open without using the new tab page. This is somewhat unrealistic since TFAC money comes from how many views an ad gets on the new tab page. I don’t really see a viable workaround to this, but perhaps they could add the advertisements in the pop-up box when you click the TFAC icon (refer to bullet point 2 above).</li>
</ul>
<br>Overall, Tab for a Cause isn’t perfect in terms of design, but it still works brilliantly and so far dominates the Chrome Webstore as the only extension that lets you make good use of your web browsing without going out of the way to donate. It’s so simple and useful, and I keep wondering why this isn’t as popular as it should be. So if you’re feeling charitable, and you want to save the world with no more effort than a few clicks, start using Tab for a Cause!
<h2>Blog</h2>
    <p>Here is one blog post I wrote on my wordpress link (see footer). Obviously this'll be hellishly ugly right now, bu tI encourage you to click the link in the footer if you want to see a beautiful WordPress version. </p>
    <br>If you haven’t heard of Tab for a Cause, I encourage you to go download it right now. Tab for a Cause (TFAC) is “a [free] extension that replaces your new tab page with a beautiful page that raises money for charity as you surf the web.” It’s similar to Google’s enormously successful but short-lived Chrome for a Cause way back in 2010, but TFAC is the permanent version, and is made by an independent team of developers. The extension is amazing and is the only one to offer this opportunity of donating to charities by web browsing, but as always there’s still a couple features that could be added or improved.

    First, a more in-depth introduction to what Tab for a Cause is:

    Tab for a Cause is paid by advertisers to show their ads on the new tab page. At least half of the profits are given to the partner charities. The TFAC “currency” is hearts; each tab you open counts as 1 heart, or you can refer a friend for 350 hearts. You then donate your hearts to a charity of your choice, as seen in the third screenshot below, and each tab contributes “between 1/10 and 1/3 of a cent.”

    What I love about TFAC is that they are transparent with how their extension works and post exactly how they spend the money.
    
    Some improvements I’d like to see in TFAC include:
<ul>
    <li>Donating tabs automatically. Currently, tabs must be donated manually - and as easy as it is to do so, automatic tab donations would still make a big difference. It would be ideal if we could set our tab donation preferences based on the percentage of tabs we want to donate to each organization. This could also eliminate the small learning curve in realizing that you have to manually donate the tabs, and it would eliminate the use of users' un-donated hearts. There's no real reason to "save up" on hearts.</li>
    <li>Add a TFAC extension icon next to Chrome’s other extensions. It’d be nice if you could click on this currently nonexistent extension icon to see how many hearts you haven’t donated yet, and maybe it could be a great way to donate immediately without going to the new tab page.</li>
    <li>Automatically count tabs you open without using the new tab page. This is somewhat unrealistic since TFAC money comes from how many views an ad gets on the new tab page. I don’t really see a viable workaround to this, but perhaps they could add the advertisements in the pop-up box when you click the TFAC icon (refer to bullet point 2 above).</li>
</ul>
<br>Overall, Tab for a Cause isn’t perfect in terms of design, but it still works brilliantly and so far dominates the Chrome Webstore as the only extension that lets you make good use of your web browsing without going out of the way to donate. It’s so simple and useful, and I keep wondering why this isn’t as popular as it should be. So if you’re feeling charitable, and you want to save the world with no more effort than a few clicks, start using Tab for a Cause!
{% endblock %}

