{% extends "templates/base.html" %}
{% block title%} Blog {% endblock %}

{% block content%}
    <h2>Blog</h2>
    <!-- LIGHTBOX TUTORIAL http://michaelsoriano.com/create-a-responsive-photo-gallery-with-bootstrap-framework/ -->
    <div class="container">
        <ul class="row">
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="static/twc1.png" alt="Screenshot of Marriot advertisement in The Weather Channel Mobile App"></li>
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="static/twc2.png" alt="Screenshot of Starbucks coffee advertisement in The Weather Channel Mobile App"></li>
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="static/twc3.png" alt="Screenshot of Hilton advertisement in The Weather Channel Mobile App"></li>
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="static/twc4.png" alt="Screenshot of Kentucky Fried Chicken advertisement in The Weather Channel Mobile App"></li>
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="static/twc5.png" alt="Screenshot of Walmart advertisement in The Weather Channel Mobile App"></li>
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="static/twc6.png" alt="Screenshot of Detroit background in The Weather Channel Mobile App"></li>
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="static/twc7.png" alt="Screenshot of Quaker Oatmeal advertisement in The Weather Channel Mobile App"></li>
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="static/twc8.png" alt="Screenshot of Starbucks breakfast sandwich advertisement in The Weather Channel Mobile App"></li>
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="static/twc9.png" alt="Screenshot of Maui Jim sunglasses advertisement in The Weather Channel Mobile App"></li>
        </ul>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <p>Here's an example of one of my blog posts on my site, <a href="http://www.desx2.wordpress.com">Desirable Design</a>.</p>
    <p>
        <span style="font-weight: 400;">I have rarely seen an advertisement for something and thought, “wow, this ad is gorgeous," particularly for mobile ads. So when I decided I needed a different mobile weather app, I turned to The Weather Channel. </span>

        I was expecting a typical weather app - a simple interface that tells me the temperature and conditions and has hourly and future forecasts. The old Weather Channel app didn't have any ads even though it was the free version (according to the <a href="http://forums.androidcentral.com/google-nexus-7-tablet-2012/253946-weather-apps.html" target="_blank">Android forum</a> that posted the photo in 2013), so I was expecting something similar to that (see below). But after a major UI overhaul, the current version of the app is absolutely breathtaking, <em>and</em> it has advertisements. The biggest accomplishment is that these ads don't look like traditional ads.

        <p>The front page of the new Weather Channel App consists of clean, large numbers representing the current temperature and conditions in a circle - exactly the first piece of information I want to see when opening a weather app. Behind that is a breathtaking scene that changes depending on your location, weather, and the current time, and at the footer of that is the advertisement. The first time I opened the app, it took me some time to recognize that the image overlay at the bottom of that screen was actually an advertisement.</p>

        <p>Great job to The Weather Channel for making ads actually look nice. I’d even go so far as to say those beautifully integrated ads <em>improve</em> the app’s viewing experience when seamlessly combined with the background image. Without the ads, I might say it's just a beautiful image. But with them, I actually pay equal attention to both the weather info itself and the un-intrusive ad at the bottom. I wish more mobile apps tried to do this or at the very least made their banner ads less horrendous. <span style="font-weight: 400;">Most of the ones I see on Android are flashy banners with blinking neon text that demand you click on it to protect your phone from viruses and spyware, and it's incredibly refreshing to see a sponsored link that enhances both the app and the advertisement.</span></p>

        <p>I just have to hope that one day, this trend of beautiful ads in mobile apps will actually catch on, to the benefit of both the sellers and the consumers.</p>

    </p>

<style type="text/css">
    ul {
      padding:0 0 0 0;
      margin:0 0 0 0;
    }
    ul li {
      list-style:none;
      margin-bottom:25px;
    }
    ul li img {
      cursor: pointer;
    }
    img {
        max-height: 200px;
    }

</style>

<!-- Lightbox -->
<script type="text/javascript">
    $(document).ready(function(){
       $('li img').on('click',function(){
            var src = $(this).attr('src');
            var img = '<img src="' + src + '" class="img-responsive"/>';
            $('#myModal').modal();
            $('#myModal').on('shown.bs.modal', function(){
                $('#myModal .modal-body').html(img);
            });
            $('#myModal').on('hidden.bs.modal', function(){
                $('#myModal .modal-body').html('');
            });
       });
    })
</script>
{% endblock %}

