{% extends "templates/base.html" %}

{% block title%} Home {% endblock %} 

{% block content%}
<link rel="stylesheet" href="static/home_style.css">

<!-- This has class = "subbody" -->
        <h2>Projects</h2>
        <div class="row">
            <div class="col-sm-4 col-md-12 col-lg-4">
                <h3>Khan Academy Case Study</h3>
                <p>Here's a project I did for my Introduction to Information Studies class. Click the image to view the pdf! </p>
                <a href="static/ka_case_study.pdf" target="_blank"><img class="img-responsive" src="static/ka-case-study.png" alt = "Khan Academy case study" ommouseover="imghover(this)"></a>
            </div>
            <div class="col-sm-4 col-md-0 col-lg-4">
                <h3>Project 2</h3>
                <p>Hiya, this is my homepage.</p>
                <img class="img-responsive" src="static/" alt = ""/>
                <p>The above image is called "Sun Tunnels." It's pretty great for a desktop background. </p>
            </div>
            <div class="col-sm-4">
                <h3>Project 3</h3>
                <p>Hiya, this is my homepage.</p>
                <p><img class="img-responsive" src="static/suntunnels.png" alt = "suntunnels"/></p>
                <p>The above image is called "Sun Tunnels." It's pretty great for a desktop background. </p>
            </div>
        </div> 
    </div>   
{%endblock%}

