{% extends "templates/base.html" %}

{% block title%} Home {% endblock %} 
{% block nav_home %}HOME{%endblock%}

{% block content%}
             
        <div class="row">
            <div class="col-sm-4">
                <h2>Home</h2>
                <p>Hiya, this is my homepage.</p>
                <p><img src="static/suntunnels.png" alt = "suntunnels"/></p>
                <p>The above image is called "Sun Tunnels." It's pretty great for a desktop background. </p>
            </div>
            <div class="col-sm-4">
                <h2>H2</h2>
                <p>Hiya, this is my homepage.</p>
                <p><img src="static/suntunnels.png" alt = "suntunnels"/></p>
                <p>The above image is called "Sun Tunnels." It's pretty great for a desktop background. </p>
            </div>
            <div class="col-sm-4">
                <h2>H3</h2>
                <p>Hiya, this is my homepage.</p>
                <p><img src="static/suntunnels.png" alt = "suntunnels"/></p>
                <p>The above image is called "Sun Tunnels." It's pretty great for a desktop background. </p>
            </div>
        </div>
{%endblock%}

