{% extends "templates/base.html" %}

{% block title%} Home {% endblock %} 

{% block content%}
<link rel="stylesheet" property="stylesheet" href="static/index_style.css">

<!-- This has class = "subbody" -->
    <h2>- About Me -</h2><hr>
    <div class="row">
        <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4">
            <img id="profpic" class="img-responsive" src="static/alissa_pic.jpg" alt="Picture of Alissa Chan">
        </div>
        <div class="col-xs-7 col-sm-8 col-md-8 col-lg-8">
            <p>Hi! My name is Alissa Chan. I'm a sophomore at the University of Michigan and will be pursuing the upper-level <a href="https://www.si.umich.edu/content/bsi">Bachelor of Science in Information</a> in the Fall. Information science is the study of people, information, and technology, and incorporates various disciplines like business and entrepreneurship, economics, social sciences, and more, and the BSI is a relatively new undergraduate program at U-M. There are currently three primary paths: information analytics, user experience design, and social media, but students take courses in all three.</p>
            <p> I am interested in user experience design, mostly because of personal experience and frustration with poorly designed applications, websites, etc. I'm always excited for app updates and release notes, and I enjoy leaving reviews and emailing feedback to app developers. I'm interested in usability of mobile and web applications in terms of navigation, consistency, and general visual appeal (e.g. color schemes and typography). So far I have worked on various projects like redesigning the <a href="http://www.upstagearts.com">Upstage Arts page</a> and creating user interfaces for mobile applications created at The Michigan Daily (UM's student-run newspaper). </p>
            <p>Feel free to explore my website. Sections are still a work in progress but I will be updating them soon!</p>
        </div>
    </div>
        
  
{%endblock%}

