{% extends 'templates/base.html' %}
{% block title%} About Me {% endblock %}

{% block content %}
    <h2>- Projects -</h2><hr>
    <div class="projects">

        <div class="projects row">
        <h3>Khan Academy Case Study</h3>
            <!-- <div class="project title"> -->
            <!-- </div> -->
            <div class="col-xs-7 col-sm-5 col-md-4 col-lg-4">
                <img class="project-img img-responsive" src="static/ka-case-study.png" alt = "Khan Academy case study">
            </div>
            <div class="col-sm-7 col-md-8 col-lg-8">
                <p>This is a project I did for my Introduction to Information Studies class. In addition to doing the research, citing all sources with an annotated bibliography, and analyzing all the information to make a statement about what we can take away from this case study, we also had to present the information in a visual way. </p>

                <p>Perhaps the most difficult part about this project was trying to organize my ideas  while also explaining what Khan Academy is without exceeding the page limit too much. Part of the challenge was also in deciding which screenshots were important, and how best to present them to make each page unique and visually appealing.</p>

                <p>The tools I used were Google Docs to draft my research points and write the case study, and Microsoft Word to design the document and add visual elements, text boxes, and other  annotations.</p>
                <a href="static/ka_case_study.pdf" target="_blank"><br><i class="glyphicon glyphicon-link"></i> Khan Academy Case Study pdf</a>
            </div>
        </div>
        <div class="projects row">
            <h3>Twitter Social Media Review</h3>
            <div class="col-xs-7 col-sm-5 col-md-4 col-lg-4">
                <img class="project-img img-responsive" src="static/twitter_logo.jpg" alt = "Twitter logo">
            </div>
            <div class="col-sm-7 col-md-8 col-lg-8">
                <p>This is another project I did for my Intro to Information Studies class. The assignment was to choose a form of social media you weren't using yet, use it for the duration of the semester, and then write a report that shows you participated enough to effectively evaluate and critique it. I chose Twitter because I was curious about how useful it actually is. I found that I didn't (and still don't) use Twitter much except for receiving mobile notifications about new tweets for certain accounts. After evaluating the site, I still only use Twitter for this reason. </p><a href="static/twitter-sm-review.pdf" target="_blank"><br><i class="glyphicon glyphicon-link"></i> Twitter Social Media Review</a>
            </div>
        </div>
        <div class="projects row">
            <h3>More projects will be posted soon!</h3>
            <!-- <h3>Khan Academy Case Study</h3>
            <div class="col-xs-7 col-sm-5 col-md-4 col-lg-4">
                <img class="project-img img-responsive" src="static/ka-case-study.png" alt = "Khan Academy case study">
            </div>
            <div class="col-sm-7 col-md-8 col-lg-8">
                <p>Here's a project I did for my Introduction to Information Studies class. <a href="static/ka_case_study.pdf" target="_blank"><br><i class="glyphicon glyphicon-link"></i> Khan Academy Case Study pdf</a></p>
            </div> -->
        </div>
   
   </div>

{% endblock %}