{% extends "templates/base.html"%}

{% block title%} Resume {% endblock %}

{% block content%}
<link rel="stylesheet" property="stylesheet" href="static/resume_style.css">

    <h2>- Resume - </h2>
        <div class = "resumeinfo">
        <hr>
            <p>alissach@umich.edu<br>
            Ann Arbor, MI | Greater NY Area</p>
        </div>
    <div class="row">
        <div class= "col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <h3>Education</h3>
                <div class="edu-title">University of Michigan, Ann Arbor, MI </div>
                <p>
                    Expected graduation: Apr 2018<br>
                    Major: Information Science<br>
                    Intended Minor: Music<br>
                </p>
        </div>
        <div class= "col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <h3>Activities</h3>
                <ul>
                    <li>The Michigan Daily Web Team</li>
                    <li>Campus Symphony Orchestra</li>
                    <li>Michigan Pops Orchestra</li>
                </ul>
        </div>
        <div class= "col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <h3>Academic Awards</h3>
                <ul>
                    <li>University Honors</li>
                    <li>Feinberg Family Prize first-year writing contest for personal essay (nominated by English professor)</li>
                </ul>
        </div>
    </div>

<h3>Experience</h3>
<div class="experience">
    <div class="experience row">
        <div class= "col-md-4">
            <h4>The Michigan Daily Web Team</h4>
            <i>September 2015 - present</i>
        </div>
        <div class= "col-md-8">
            <h5>User Experience Designer</h5>
            <p>At the Michigan Daily, U-M's student-run newspaper, I was a member of the web team. I designed the user interface and supervised development for the Michigan Daily mobile app and BlueBuy, an app to facilitate buying and selling textbooks, tickets, and leases for U-M students. <br>
            I also evaluated the usability of the internal Michigan Daily elections application and wrote the user feedback survey to gain input for future improvements.</p>
        </div>
    </div>
    <div class="experience row">
        <div class= "col-md-4">
            <h4>University of Michigan Campus Orchestras Board</h4>
            <i>September 2015 - present</i>
        </div>
        <div class= "col-md-8">
            <h5>Lead Web Developer</h5>
            <p>I updated the <a href="http://www.campusorchestras.org">Campus Orchestras</a> website interface on the existing site in order make it easier to quickly locate relevant information. I also used site meta-tags to increase site visibility on search engines and helped advertise the  website through the our internal Facebook group and orchestra-wide emails. </p>
        </div>
    </div>
    <div class="experience row">
        <div class= "col-md-4">
            <h4>Research Entrepreneurship and Biomedical Innovation</h4>
            <i>September 2015 - present</i>
        </div>
        <div class= "col-md-8">
            <h5>Research Assistant</h5>
            <p>I worked on two primary projects as part of University of Michigan's Undergraduate Research Opportunity Program (UROP). The first project was one where I helped a biomedical researcher with the customer discovery process by conducting interviews to gauge interest in her idea - a contraceptive app to help women with chronic conditions select the most suitable contraceptive method. This was part of UM's Early Tech Development (ETD) course, which guides biomedical researchers through initial innovation stages of new biomedical technologies.</p>
            <p>Now, I am working on a new idea of tracking current U-M gym occupancy to mitigate overcrowding. For this project I collaborated with my UROP partner to conduct 29 customer discovery interviews in total with potential customers in order to gauge the need for a service like this. We analyzed interviews using the KJ Diagram Method, proceeded with market research, and are now on the design and prototyping phase.</p>
        </div>
    </div>
    <div class="experience row">
        <div class= "col-md-4">
            <h4>Upstage Arts Youth Theater</h4>
            <i>July 2015 - present</i>
        </div>
        <div class= "col-md-8">
            <h5>Website Designer and Consultant</h5>
            <p>Upstage Arts' previous site was cluttered with information and was inconsistently designed regarding typography, content strategy, and navigation. I had the pleasure of redesigning the <a href="http://www.upstagearts.com">website</a> by refreshing the overall design and re-organizing site content to provide users a better and more enjoyable experience. </p>
        </div>
    </div>
    <div class="experience row">
        <div class= "col-md-4">
            <h4>FactSet Research Systems, Inc.</h4>
            <i>June - August 2015</i><br>
            <i>June - August 2014</i>
        </div>
        <div class= "col-md-8">
            <h5>Fixed Income Content Development, Intern</h5>
            <p>Here I worked with multiple international back-end content teams to provide comprehensive financial bond analytics for clients. I also used proprietary Factset applications to extract key data for bond securities, as well as beta-tested application enhancements and created user manuals and guides.</p>
        </div>
    </div>
</div>

<h3>Extracurriculars</h3>
<div class="activities-leadership">
    <div class="act-lead row">
        <div class= "col-md-12">
            <h4>Violin</h4>
            <i>January 1999 - present</i>
            <p>I first started violin at the age of 3, studying first with Amy Lonsinger and later Wendy Sharp of Yale School of Music. In 2013 I was a Norwalk Symphony Orchestra Concerto Competition finalist and performed as soloist with my high school orchestra. As a member of the Norwalk Youth Symphony I also had the pleasure of performing at Carnegie Hall and Tanglewood Music Center. I have spent most of my summers attending various music camps and festivals like <a href="http://www.csmusic.org">California Summer Music</a>, <a href="http://www.chambermusicinstitute.org/">Chamber Music Institute for Young Musicians</a>, and Ithaca College's Suzuki Institute <a href="http://www.ithaca.edu/sacl/suzuki/student/prelnew/">Preludio Program</a>. Currently I am the co-concertmaster of the Michigan Pops Orchestra here at U-M.</p>
        </div>
    </div>
    <div class="act-lead row">
        <div class= "col-md-12">
            <h4>Gymnastics</h4>
            <i>January 2001 - July 2014</i>
            <p>Throughout my years as a Junior Olympic gymnast at Darien YMCA (Connecticut), I competed at both the local, regional, and national level. In 2014, I won 19th place all-around in the YMCA National Gymnastics Championship Division.</p>
        </div>
    </div>
</div>
{%endblock%}