{% extends "templates/base.html"%}

{% block title%} Resume {% endblock %}

{% block content%}
<link rel="stylesheet" href="static/resume_style.css">
    <h2>Resume</h2>
    <hr>
    <div class="row">
        <h3>Education</h3>
        <div class= "col-"></div>
            <p>
            University of Michigan, Ann Arbor, MI <br>
            Expected graduation: Apr 2018<br>
            Major: Information Science<br>
            Intended Minor: Music<br>
            Cumulative GPA: 3.84 / 4.0 
            </p>
    </div>

{%endblock%}